---
import { getCMSData, getCMSPage } from "src/helpers"
import Layout from "@layouts/Layout.astro"
import Partner from "@components/Partner.svelte"
import LinkButton from "@components/LinkButton.svelte"

const aboutData = await getCMSPage("about")
const { docs: partners } = await getCMSData("partners?sort=id")
---

<Layout title="About | Hunger">
	<div class="flex flex-col gap-12">
		<div class="grid lg:grid-cols-3">
			<div class="flex flex-col gap-4 lg:col-span-2">
				<div class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8">
					<h2
						class="mb-12 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
					>
						Our <span class="underline">Mission.</span>
					</h2>

					<Fragment set:html={aboutData.mission_statement_html} />
					{
						aboutData.mission_cta_button.url && (
							<LinkButton href={aboutData.mission_cta_button.url}>
								{aboutData.mission_cta_button.text}
							</LinkButton>
						)
					}
				</div>
				<br class="block w-full" />
			</div>
		</div>
		<div class="grid w-full md:mx-auto lg:grid-cols-3">
			<div class="col-span-2 flex flex-col gap-4">
				<h2
					class="mb-6 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
				>
					Our <span class="underline">Goals.</span>
				</h2>

				<Fragment set:html={aboutData.vision_statement_html} />
			</div>
		</div>
		<div class="grid w-full md:mx-auto lg:grid-cols-3">
			<div class="col-span-2 flex flex-col gap-6">
				<h2
					class="mb-6 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
				>
					Our <span class="underline">Partners.</span>
				</h2>
				<ul class="ml-0 grid w-full gap-8 lg:grid-cols-2">
					{partners.map((partner) => <Partner partner={partner} />)}
				</ul>
			</div>
		</div>
	</div>
</Layout>

<style>
	:global(p) {
		@apply font-body text-base text-gray-600;

		@media (min-width: 640px) {
			font-size: 1.25rem /* 20px */;
			line-height: 1.75rem /* 28px */;
		}

		@media (min-width: 1024px) {
			font-size: 1.125rem /* 18px */;
			line-height: 1.75rem /* 28px */;
		}
	}

	:global(h3) {
		@apply mt-2 text-2xl font-bold uppercase text-gray-700;
	}

	:global(ul) {
		@apply ml-12 list-disc font-body text-base text-gray-700;

		@media (min-width: 640px) {
			font-size: 1.25rem /* 20px */;
			line-height: 1.75rem /* 28px */;
		}

		@media (min-width: 1024px) {
			font-size: 1.125rem /* 18px */;
			line-height: 1.75rem /* 28px */;
		}
	}
</style>
