---
import Layout from "../layouts/Layout.astro"
import { getCMSPage, getCMSData } from "../helpers"

const homeData = await getCMSPage("home")

const titleRegex = homeData.title.match(/_(.*)_/)
let title = homeData.title.replace(
	titleRegex[0],
	`<span class="underline">${titleRegex[1]}</span>`,
)

const { docs: programs } = await getCMSData("programs")
---

<Layout title="Hunger | U.P. Lions Serve">
	<main class="mx-auto mb-24 max-w-screen-xl grow px-4 sm:px-6">
		<div class="flex flex-col lg:grid lg:grid-cols-12 lg:gap-8">
			<div class="md:max-w-1xl md:mx-auto lg:col-span-8">
				<h1
					class="mb-12 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:text-6xl sm:leading-none lg:text-5xl xl:text-6xl"
					set:html={title}
				/>

				{
					programs.map((program) => (
						<>
							<h2 class="text-xl font-bold uppercase">{program.title}</h2>
							<p class="mb-6 mt-3 font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg">
								{program.home_page_description}{" "}
								<a href={`/programs#${program.title_id}`}>
									Click for REAL details!
								</a>
							</p>
						</>
					))
				}

				<div class="grow">
					<p class="text-book-gray mt-3 text-sm sm:mt-5 sm:text-base">
						Please consider a donation to any of the programs above.
						<a href="https://donorbox.org/lions-hunger" target="_blank">
							Let's grow together!</a
						>
					</p>
				</div>
			</div>
			<div
				id="hero-image"
				class="relative mt-12 h-60 w-full rounded-2xl bg-center object-contain sm:mx-auto lg:col-span-4 lg:mx-0 lg:mt-0 lg:h-full lg:max-w-none lg:items-center lg:rounded-tl-[200px]"
			>
			</div>
		</div>
	</main>
</Layout>

<style>
	#hero-image {
		background-image: url("/hero.jpg");
	}

	#hero-image::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background-color: #f37728;
		border-radius: 15px;
		transform: translateY(5%) scale(1.02);
	}

	@media (min-width: 1024px) {
		#hero-image::after {
			height: 90%;
			bottom: 0;
			border-top-left-radius: 200px;
			transform: translate(-8%) scale(0.95);
		}
	}
</style>
